# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#            type         user     pass  host dbName 
DATABASE_URL=postgres://postgres:password@db.aootmpvueettpgudecbd.supabase.co:6543/postgres
SHADOW_DATABASE_URL=postgres://mateo@127.0.0.1:5432/shadow_db